body {
  font-family: "Roboto", sans-serif;
}

.header {
  color: white;
  background-color: #171718;
}
.header ul {
  align-items: center;
}
.header ul li + li {
  padding-left: 40px;
}
.header ul li + li + li + li {
  padding-left: 70px;
}
.header ul .button-nav {
  padding: 12px 12px;
  border: 0;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color 0.2s;
}
.header ul .button-nav:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.header ul li a {
  font-size: 16px;
  cursor: pointer;
  color: white;
  position: relative;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}
.header ul li a:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}
.header ul li a:focus,
.header ul li a:hover {
  color: #fff;
}
.header ul li a:focus:after,
.header ul li a:hover:after {
  width: 100%;
  left: 0%;
}

.navigation {
  border-bottom: 1px solid rgba(0, 0, 0, 0.75);
}

.logo {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  color: white;
}

.box-cont {
  display: flex;
  align-items: center;
  padding: 18px 0px;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.container a {
  position: relative;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}
.container a:after {
  content: "";
  pointer-events: none;
  bottom: -4px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #5C62EC;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 600ms;
  transition-property: width, left;
}
.container a:focus,
.container a:hover {
  color: #5C62EC;
}
.container a:focus:after,
.container a:hover:after {
  width: 100%;
  left: 0%;
}

.space-between {
  justify-content: space-between;
}

.flex {
  display: flex;
}

.block {
  display: block;
}

footer {
  background: #171718;
  color: white;
}
footer .footer-auto {
  padding: 50px;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  max-width: 418px;
  margin-left: auto;
  margin-right: auto;
}
footer .footer-auto .icons {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}
footer .footer-auto a + a {
  margin-left: 32px;
}

.black-title-cl-60 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  margin: 60px;
  color: #5C62EC;
}

.black-title-42 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  color: black;
  margin: 42px;
}

.light-text-24 {
  color: black;
  font-weight: 700;
  font-weight: 400;
  font-size: 24px;
  margin: 24px;
}

.indigo {
  color: #5C62EC;
}

.cl-black {
  color: black;
}/*# sourceMappingURL=contacts.css.map */