body {
  font-family: "Roboto", sans-serif;
}

.header {
  color: black;
}
.header ul {
  align-items: center;
}
.header li + li {
  padding-left: 40px;
}
.header li + li + li + li {
  padding-left: 70px;
}
.header li + li + li + li a {
  padding: 12px 12px;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 15px;
}
.header li a {
  font-size: 16px;
  cursor: pointer;
  color: black;
}

.navigation {
  border-bottom: 1px solid rgba(0, 0, 0, 0.75);
}

.logo {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  color: black;
}

.box-cont {
  display: flex;
  align-items: center;
  padding: 12px 0px;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.space-between {
  justify-content: space-between;
}

.flex {
  display: flex;
}

.block {
  display: block;
}

footer {
  background: #171718;
  color: white;
}
footer .footer-auto {
  padding: 50px;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  max-width: 418px;
  margin-left: auto;
  margin-right: auto;
}
footer .footer-auto .icons {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}
footer .footer-auto a + a {
  margin-left: 32px;
}

.black-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  margin: 0;
}

.container .black-title {
  padding: 64px;
}

.sienna {
  background: rgba(92, 98, 236, 0.15);
  padding: 64px 0;
}
.sienna .container {
  display: flex;
  justify-content: space-between;
}
.sienna .container .block-typeof {
  max-width: 290px;
  max-height: 290px;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
}
.sienna .container .block-typeof span p {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  padding: 44px 0 24px 0;
  margin: 0;
}
.sienna .container .block-typeof ul {
  margin-bottom: 36px;
}
.sienna .container .block-typeof ul li {
  font-weight: 200;
  font-size: 16px;
  display: flex;
}
.sienna .container .block-typeof ul li p {
  padding-left: 16px;
  margin: 0;
}
.sienna .container .block-typeof ul li + li {
  padding-top: 20px;
}
.sienna .container .block-veb {
  display: flex;
  max-width: 852px;
  max-height: 360px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
}
.sienna .container .block-veb .img-1 {
  padding: 28px 32px;
}
.sienna .container .block-veb .veb-info {
  padding: 28px 32px;
}
.sienna .container .block-veb .veb-info .type-of-veb1 {
  display: flex;
  max-width: 358px;
  max-height: 32px;
  background-color: #5C62EC;
  border-radius: 15px 15px 15px 0px;
}
.sienna .container .block-veb .veb-info .type-of-veb1 span {
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
  margin: 8px 64px;
}
.sienna .container .flex .it-dive {
  padding: 24px 32px;
  display: block;
  max-width: 410px;
  max-height: 420px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
}
.sienna .container .flex .it-dive .type-of-veb {
  display: flex;
  max-width: 240px;
  max-height: 32px;
  background-color: #5C62EC;
  border-radius: 15px 15px 15px 0px;
}
.sienna .container .flex .it-dive .type-of-veb span {
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
  margin: 8px 36px;
}
.sienna .container .flex .it-dive .img-2 {
  margin-top: 18px;
}
.sienna .container .flex .it-dive .veb-title {
  margin-top: 18px;
}

.veb-title {
  font-weight: 500;
  font-size: 32px;
  margin: 0;
  margin-top: 24px;
}

.veb-info-text {
  margin-top: 60px;
  font-weight: 400;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.veb-info-text-sm {
  margin-top: 32px;
  font-weight: 400;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
}

.butt-g {
  margin-top: 36px;
  max-width: 508px;
  max-height: 38px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
}
.butt-g a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 0;
}
.butt-g a img {
  padding: 0;
}
.butt-g a p {
  display: flex;
  color: rgba(255, 255, 255, 0.84);
  margin: 0;
  margin-left: 12px;
}

.m-36 {
  margin-top: 36px;
}/*# sourceMappingURL=web.css.map */